@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  font-family: "open sans condensed";
  margin: 0px;
}

header {
  height: 100vh;
}
.m-header__tittle {
  display: flex;
  background: url(HEADER1.png) no-repeat center center;
  background-size: cover;
  background-position: right;
  position: relative;
  max-width: 100%;
  height: max-content;
  padding: 50px;
  text-shadow: 1px 1px 1px black;
  text-transform: uppercase;
  flex-direction: row;
  align-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: center;
  color: #252525;
}

.m-header {
  margin: 0px;
  width: 100%;
  height: auto;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
ul {
  margin: inherit;
}

h1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  margin: 0px;
  font-family: "Courier New", Courier, monospace;
  color: #e31837;
  text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
}

.m-navbar__nav {
  display: flex;
  text-align: center;
  border: 0px;
  padding: 0px;
}

nav {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
}

.m-navbar__nav__item {
  flex-grow: 1;
}
.m-navbar__nav__item a {
  color: white;
  background-color: #252525;
  display: block;
  padding: 10px;
  transition: all 400ms linear;
  box-sizing: border-box;
  border-right: dashed 1px #252525;
  text-shadow: 1px 1px 1px black;
  text-transform: uppercase;
}
.m-navbar__nav__item a:hover,
.m-navbar__nav__item a:focus {
  color: #eee;
  background-color: #252525;
  text-decoration: none;
}
.m-navbar__nav__item:first-child a {
  border-left: dashed 1px #252525;
}
.m-navbar__nav__item--fixed {
  flex-grow: 0;
}

@media only screen and (max-width: 1560px) {
  h1 {
    min-width: 1500;
    font-size: 1em;
    display: none;
  }
  .m-header__tittle {
    padding: 69px;
  }

  @media only screen and (max-width: 600px) {
    .m-header__tittle {
      background-position: right;
    }
    h1 {
      min-width: 1500;
      font-size: 1em;
      font-family: var();
      display: none;
    }
    .m-navbar__nav {
      flex-direction: column;
      align-items: stretch;
      align-content: center;
    }
    .m-navbar__nav__item a {
      border-right: none;
      border-bottom: dashed 1px #252525;
    }
    .m-navbar__nav__item:first-child a {
      border-left: none;
      border-top: dashed 1px #252525;
    }
  }

  h2 {
    margin: 0px;
    font-family: var();
  }

}

.tool-box-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

section {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 800px;;
  width: auto;
  background-image: url([removal.ai]_tmp-61e20cbfaa5a8.png);
  background-repeat: no-repeat;
  
  background-position: top;
}

.handle-text {
  padding-top: 34px;
  height: 0%;
  color: rgb(0, 0, 0);
}

main {
margin-top: 40px;
}

/* display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
  font-family: var();
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
} */

/* .box-tittle {
  margin-top: 100px;
  display: flex;
 background-color: #878787;
 width: 85%;
 height: fit-content;
 font-size: 46px;
 font-style: bold;
 flex-direction: column;
 align-items: center;
 align-content: center;
 border-radius: 2px;
} */
/* 
.drawer-1 {
 display: flex;
 background-color: #e31837;
 width: 80%;
 height: fit-content;
 font-size: 46px;
 font-family: var();
 flex-direction: column;
 align-items: center;
 align-content: center;
 border: solid 1px;
 border-bottom: 0px;
 border-radius: 5px;
}

.drawer-2 {
  display: flex;
  background-color: #e31837;
  width: 80%;
  height: fit-content;
  font-size: 46px;
  font-family: var();
  flex-direction: column;
  align-items: center;
  align-content: center;
  border: solid 1px;
  border-bottom: 0px;
  border-radius: 5px;
 }

 .drawer-3 {
  display: flex;
  background-color: #e31837;
  width: 80%;
  height: fit-content;
  font-size: 46px;
  font-family: var();
  flex-direction: column;
  align-items: center;
  align-content: center;
  border: solid 1px;
  border-bottom: 0px;
  border-radius: 5px;
 }

 .drawer-4 {
  display: flex;
  background-color: #e31837;
  width: 80%;
  height: fit-content;
  font-size: 46px;
  font-family: var();
  flex-direction: column;
  align-items: center;
  align-content: center;
  border: solid 1px;
  border-bottom: 0px;
  border-radius: 5px;
 }

 .drawer-5 {
  display: flex;
  background-color: #e31837;
  width: 80%;
  height: fit-content;
  font-size: 46px;
  font-family: var();
  flex-direction: column;
  align-items: center;
  align-content: center;
  border: solid 1px;
  border-bottom: 0px;
  border-radius: 5px;
 }

 .drawer-6 {
  display: flex;
  background-color: #e31837;
  width: 80%;
  height: fit-content;
  font-size: 46px;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border: solid 1px;
  border-bottom: 0px;
  border-radius: 5px;
 }

 .drawer-7 {
  display: flex;
  background-color: #e31837;
  width: 80%;
  height: fit-content;
  font-size: 46px;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border: solid 1px;
  border-radius: 5px;
 }
/*  */
