

body {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
  margin: 0px;
}

header{
  height: max-content;
}
.m-header__tittle {
  display: flex;
  background: url(HEADER1.png) no-repeat center center;
  background-size: cover;
  background-position: right;
  position: relative;
  max-width: 100%;
  height: max-content;
  padding: 50px;
  text-shadow: 1px 1px 1px black;
  text-transform: uppercase;
  flex-direction: row;
  align-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: center;
}

  .m-header {
  margin: 0px;
  width: 100%;
  height: auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
ul{
  margin: inherit;
}

h1{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  margin: 0px;
  font-family: 'Courier New', Courier, monospace;
}

.m-navbar__nav {
  display: flex;
  text-align: center;
  border: 0px;
  padding: 0px;
}

nav {
  display: flex;
  flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
  align-items: stretch;
}

.m-navbar__nav__item {
  flex-grow: 1;
}
.m-navbar__nav__item a {
  color: white;
  background-color: #3863A0;
  display: block;
  padding: 10px;
  transition: all 400ms linear;
  box-sizing: border-box;
  border-right: dashed 2px #1e3454;
  text-shadow: 1px 1px 1px black;
  text-transform: uppercase;
}
.m-navbar__nav__item a:hover, .m-navbar__nav__item a:focus {
  color: #eee;
  background-color: #1e3454;
  text-decoration: none;
}
.m-navbar__nav__item:first-child a {
  border-left: dashed 2px #1e3454;
}
.m-navbar__nav__item--fixed {
  flex-grow: 0;
}

@media only screen and (max-width: 1560px) {
  h1{
   min-width: 1500;
   font-size: 1em;
   display: none;
  }
  .m-header__tittle {
    padding: 69px;
}

@media only screen and (max-width: 600px) {
  .m-header__tittle {
    background-position: right;
  }
  h1{
    min-width: 1500;
   font-size: 1em;
   display: none;
  }
  .m-navbar__nav {
    flex-direction: column;
    align-items: stretch;
    align-content: center;
  }
  .m-navbar__nav__item a {
    border-right: none;
    border-bottom: dashed 2px #1e3454;
  }
  .m-navbar__nav__item:first-child a {
    border-left: none;
    border-top: dashed 2px #1e3454;
  }
}

h2{
  margin: 0px;
}
.body-container {
  display: flex;
  background-color: tomato;
  height: 100%vh;
}